MatlabEngine/bin/*
MatlabEngine/bin/simulator/ResidencialSimulator.class
./metadata/*
.metadata/.plugins/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp

*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.loadpath